
<!-- @author:39roc -->
<!--  -->
<script src="https://kit.fontawesome.com/722f4a5970.js" crossorigin="anonymous"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<!--  -->
<!--  -->


<i class="fas fa-sync-alt"></i>
<i class="settings-close fa fa-times"></i>

<!-- ## Modify -->
<div id="messenger-content">
  <div class="messenger-navbar">
    <h6>messenger navbar</h6>
    <button class="messenger-connect">연결버튼</button>
    <i class="fas fa-user-plus" id="fetchUserList"></i>
    <i class="fas fa-long-arrow-alt-left"></i>
    <i class="fas fa-sign-out-alt"></i>
    <i class="fas fa-plus" id="invite">초대하기</i>
  </div>
  <!-- ## 채팅 유저 초대 목록 -->
  <div id="user-list">

  </div>
  <!-- ## 채팅방 리스트 -->
  <ul class="chat-list">

  </ul>

  <!-- ## 채팅방 입장 -->
  <div id="chatroom-enter">
    <div id="chatroom-userlist"></div>
    <div id="chatroom-content">
      <div id="message-id">
        <p id="message-author-id"></p>
        <p id="message-content"></p>
        <p id="message-creationTime"></p>
      </div>
    </div>
    <div id="chatroom-nav">
      <input type="text" id="message-send">
      <i class="fas fa-paper-plane" id="btn-send"></i>
    </div>
  </div>
</div>
</div>
<!-- 메신저 -->
<!--  -->
<!--  -->