<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bit.project.mapper.ProjectMemberMapper">
<!-- 	<select id="selectProjectMemberAccount" resultType="int">
		SELECT
			count(*)
		FROM
			project_members
		WHERE
			project_code = #{projectCode} AND
			duty_code = #{dutyCode}
	</select> -->
	
	<select id="selectUserNoMember" resultType="com.project.bit.foo.domain.Users">
		SELECT
		    u.*,
		    t.team_name AS team_name,
		    pos.position_name AS position_name
		FROM users u
		    INNER JOIN positions pos ON u.position_code = pos.position_code
		    INNER JOIN teams t ON u.team_code = t.team_code
		WHERE
		    (SELECT count(*) FROM project_members pm WHERE u.user_id = pm.user_id) = 0
	</select>
	
	<select id="selectProjectMember" parameterType="String" resultType="com.project.bit.project.domain.ProjectMemberVO">
		SELECT
			pmem.project_joinCode AS project_joinCode,
			pmem.user_id AS user_id,
			u.user_name AS user_name,
			t.team_name AS team_name,
			pos.position_name AS position_name,
			d.duty_name AS duty_name
		FROM project_members pmem
			INNER JOIN users u ON pmem.user_id = u.user_id
			INNER JOIN teams t ON u.team_code = t.team_code
			INNER JOIN positions pos ON u.position_code = pos.position_code
			INNER JOIN dutys d ON pmem.duty_code = d.duty_code
		WHERE
			pmem.project_code = #{projectId}
	</select>
	
	<select id="selectProjectMemberGantt" parameterType="String" resultType="com.project.bit.project.domain.ProjectTaskVO">
		SELECT
			ptm.task_manager_id AS user_id,
			pt.task_name AS task_name,
			pt.task_start AS task_start,
			pt.task_finish AS task_finish,
			pts.task_status AS task_status_name
		FROM project_tasks pt
			INNER JOIN project_task_managers ptm ON pt.task_code = ptm.task_code
			INNER JOIN project_task_groups ptg ON pt.taskGroup_code = ptg.taskGroup_code
			INNER JOIN projects p ON p.project_code = ptg.project_code
			INNER JOIN project_task_status pts ON pt.task_status_code = pts.task_status_code
		WHERE p.project_code = #{projectCode}
		ORDER BY pt.task_start, ptm.task_manager_id
		
	</select>
	
	<!-- <select id="selectProjectMemberById" parameterType="String" resultType="int">
		SELECT
			count(*)
		FROM
			project_members
		WHERE
			user_id = #{userId}
	</select> -->
	
	<insert id="insertProjectMember" parameterType="com.project.bit.project.domain.ProjectMemberDTO">
		INSERT INTO project_members
		VALUES(ID_SEQ.nextval||'-'||(SELECT project_subName FROM projects WHERE project_code = #{projectCode}),#{projectCode},#{userId},'duty400')
	</insert>
	
	<delete id="deleteProjectMember" parameterType="String">
		DELETE FROM project_members WHERE project_joinCode = #{projectJoinId}
	</delete>
</mapper>