<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<title id="pageTitle">새 결재 작성</title>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        button[name= 'apFormNo'] {
            margin: 5px;
            width: 170px;"
        }
    </style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</th:block>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">전자결재 메인</h3><hr>

                    <h4>새 결재 작성</h4><br>
                    <form th:action="goNewApDoc" th:method="get">
                        <button type="submit" name="apFormNo" value="1" class="btn btn-inverse-primary btn-fw btn-lg"><i style="margin:20px" class="fa fa-file-text-o fa-2x"></i><br>교육참가신청서</button>
                        <button type="submit" name="apFormNo" value="2" class="btn btn-inverse-primary btn-fw btn-lg"><i style="margin:20px" class="fa fa-file-text-o fa-2x"></i><br>휴가사용신청서</button>
                        <button type="submit" name="apFormNo" value="3" class="btn btn-inverse-primary btn-fw btn-lg"><i style="margin:20px" class="fa fa-file-text-o fa-2x"></i><br>출장보고서</button>
                        <button type="submit" name="apFormNo" value="4" class="btn btn-inverse-primary btn-fw btn-lg"><i style="margin:20px" class="fa fa-file-text-o fa-2x"></i><br>구매요청서</button>
                        <button type="submit" name="apFormNo" value="5" class="btn btn-inverse-primary btn-fw btn-lg"><i style="margin:20px" class="fa fa-file-text-o fa-2x"></i><br>회의록</button>
                        <button type="submit" name="apFormNo" value="5" class="btn btn-inverse-primary btn-fw btn-lg"><i style="margin:20px" class="fa fa-file-text-o fa-2x"></i><br>기안서</button>
                    </form>
                    <br><hr>

                    <h4>결재 현황</h4><br>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 d-flex justify-content-center border-right">
                            <div class="wrapper text-center">
                                <h3 class="card-title">결재 진행 문서</h3>
                                <h2 class="card-description" th:text="${apDocCount.get(0)}+' 건'"></h2>
                                <button class="btn btn-inverse-success" onclick="location.href = '/approval/getApProgressList'">View</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 d-flex justify-content-center border-right">
                            <div class="wrapper text-center">
                                <h3 class="card-title">결재 대기 문서</h3>
                                <h2 class="card-description" th:text="${apDocCount.get(1)}+' 건'"></h2>
                                <button class="btn btn-inverse-success" onclick="location.href = '/approval/getApCheckList'">View</button>
                            </div>
                        </div>
                    </div>
                    <input hidden type="text" th:value="${#authentication.authorities}" id="authorities">
                    <input hidden type="text" th:value="${notApprovers}" id="notApprovers">

                </div> <!--card body end-->
            </div>
        </div>
    </div>
    <script>
        $(document)
            .ready(
                function () {

                    if($('#notApprovers').val()){
                        confirm($('#notApprovers').val());
                    }

                    $('button[name=apFormNo]').on('click', function (e) {

                        if($('#authorities').val()=='[duty100]'){
                            e.preventDefault();
                            confirm("PMO는 결재를 작성할 수 없습니다.")
                        }
                    })
                });
    </script>
</div>
</html>
