<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<title id="pageTitle">새 결재 작성</title>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</th:block>


<div layout:fragment="content">
    <script src="//cdn.ckeditor.com/4.14.0/full/ckeditor.js"></script>

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">새 결재 작성하기</h3><hr>
                    결재선
                    <p th:text="${approvers}"></p>
                    <table style="border: 1px solid #444444;">
                        <tr>
                            <span th:each="i : ${#numbers.sequence( 0, approvers.size()-1)}">
                                <td th:text="${approvers.get(i).getDutyName()}" style="border: 1px solid #444444;"></td>
                            </span>
                        </tr>
                        <tr>
                            <span th:each="i : ${#numbers.sequence( 0, approvers.size()-1)}">
                                <td th:text="${approvers.get(i).getUserName()}" style="border: 1px solid #444444;"></td>
                            </span>
                        </tr>
                        <tr>
                            <span th:each="i : ${#numbers.sequence( 0, approvers.size()-1)}">
                                <td style="border: 1px solid #444444;">미결</td>
                            </span>
                        </tr>
                    </table>
                    <br>
                    <hr>
                    <form th:action="@{/approval/postApDoc}" method="post">
                        <h3 th:text="${form.getApFormName()}" readonly></h3>
                        제목: <input type="text" name="apDocTitle"><br>
                        기안자: <input type="text" name="apDocWriter" th:value="user007" readonly><br><!--principal로 수정-->
                        참조자: <input type="text" name="apReferrers" readonly><button type="button">선택</button><br>
                        첨부파일: <input type="file" name="apFiles" readonly><br><br><br>

                        <h4>문서 내용</h4>
                        <div class="document-editor">
                            <div class="document-editor__toolbar"></div>
                            <div class="document-editor__editable-container">
                                <div class="document-editor__editable" name="editor1">
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="apFormNo" th:value="${form.getApFormNo()}">
                        <input type="hidden" name="apDocContent" id="formData" th:value="${form.getApFormContent()}">
                        <button type="submit" id="request">결재 요청</button>
                        <button type="submit" id="cancel">취소</button>
                    </form>


                    <div id="js-legend" class="chartjs-legend mt-4 mb-5"></div>
                </div> <!--card body end-->
            </div>
        </div>
    </div>
    <script>
        CKEDITOR.replace(document.querySelector('.document-editor__editable'), {
            width: '95%',  // 입력창의 넓이, 넓이는 config.js 에서 % 로 제어
            height: '800px',  // 입력창의 높이
            startupFocus: false
        });
        let formData = document.querySelector('#formData').value;
        console.log(formData);
        CKEDITOR.instances.editor1.setData(formData);
        // CKEDITOR.instances.editor1.setData("안녕하세요.");
        // CKEDITOR.config.readOnly = true;
        // CKEDITOR.instances.editor1.setReadOnly(true);
    </script>

</div> <!-- content end -->
</html>
