<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="~{layout/default}">

<title id="pageTitle">새 결재 작성</title>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>
<!--                    <div sec:authorize="isAuthenticated()">-->
<!--                        <span sec:authentication="name"></span>-->
<!--                        <span sec:authentication="principal.authorities"></span>-->
<!--                    </div>-->
<!--                    <h4 th:text="${#authentication.principal}">dddddd</h4>-->
<!--                    <h4 th:text="${#authentication.details}">ddddd</h4>-->

<div layout:fragment="content">
    <script src="//cdn.ckeditor.com/4.14.0/full/ckeditor.js"></script>

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">새 결재 작성</h3>
                    <hr>
                    <!--                        <div class="form-group row">-->
                    <!--                            <div class="col-lg-3">-->
                    <!--                                <label class="col-form-label">All the options</label>-->
                    <!--                            </div>-->
                    <!--                            <div class="col-lg-8">-->
                    <!--                                <input class="form-control" maxlength="10" name="defaultconfig-3" id="defaultconfig-3" type="text" placeholder="Type Something..">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="form-group row">-->
                    <!--                            <div class="col-lg-3">-->
                    <!--                                <label class="col-form-label">Text Area</label>-->
                    <!--                            </div>-->
                    <!--                            <div class="col-lg-8">-->
                    <!--                                <textarea id="maxlength-textarea" class="form-control" maxlength="100" rows="2" placeholder="This textarea has a limit of 100 chars."></textarea>-->
                    <!--                            </div>-->
                    <!--                        </div>-->

                    <form th:action="@{/approval/postApDoc}" method="post" role="form">
                        <h4 class="card-title" th:text="${form.getApFormName()}" readonly></h4>

                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-form-label">제목</label>
                            </div>
                            <div class="col-lg-8">
                                <input class="form-control" maxlength="100" name="apDocTitle" type="text"
                                       placeholder="제목을 입력하세요.">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-form-label">기안자</label>
                            </div>
                            <div class="col-lg-8">
                                <!--principal로 수정했는데 이름으로 나오도록 변경하기-->
                                <input class="form-control" maxlength="100" name="apDocWriter"
                                       th:value="${#authentication.name}" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-form-label">참조자</label>
                            </div>
                            <div class="col-lg-8">
                                <input class="form-control" maxlength="200" name="apReferrers" type="text"
                                       placeholder="참조자를 선택하세요." readonly>
                                <button type="button" class="btn btn-primary btn-xs">선택</button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-form-label">첨부파일</label>
                            </div>
                            <div class="col-lg-8">
                                <input class="form-control" maxlength="25" name="apFiles" type="file" multiple
                                       placeholder="참조자를 선택하세요." readonly>
                            </div>
                        </div>

                        결재선 디자인좀............
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                        <span th:each="i : ${#numbers.sequence( 0, approvers.size()-1)}">
                                            <th th:text="${approvers.get(i).getDutyName()}"></th>
                                        </span>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                        <span th:each="i : ${#numbers.sequence( 0, approvers.size()-1)}">
                                            <td th:text="${approvers.get(i).getUserName()}+'랄랄라'"></td>
                                        </span>
                                </tr>
                                <tr>
                                        <span th:each="i : ${#numbers.sequence( 0, approvers.size()-1)}">
                                            <td>미결</td>
                                        </span>
                                </tr>
                                </tbody>
                            </table>
                        </div><br>


                        <h5>문서 내용</h5>
                        <div class="document-editor">
                            <div class="document-editor__toolbar"></div>
                            <div class="document-editor__editable-container">
                                <div class="document-editor__editable" name="editor1">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="apFormNo" th:value="${form.getApFormNo()}">
                        <input type="hidden" name="apDocContent" id="formData" th:value="${form.getApFormContent()}">

                        <!--                        <span th:each="i : ${#numbers.sequence( 0, approvers.size()-1)}">-->
                        <!--                            <input type="hidden" name='"approvers["+i+"].apStep"' th:value=i>-->
                        <!--                            <input type='hidden' name='approvers[${i}].approver' th:value="${approvers.get(i).getUserName()}">-->
                        <!--                            <input type='hidden' name='approvers[${i}].apDutyName' th:value="${approvers.get(i).getDutyName()}">-->
                        <!--                        </span>-->
                        <input type="hidden" th:value="${approvers}" id="approvers"><br>
                        <button type="submit" id="request" class="btn btn-success btn-fw" style="float: right">결재 요청</button>
                        <button type="button" id="cancel" onclick="location.href = '/approval/apMain'"
                                class="btn btn-inverse-dark btn-fw" style="float: right">취소
                        </button>
                    </form>


                    <div id="js-legend" class="chartjs-legend mt-4 mb-5"></div>
                </div> <!--card body end-->
            </div>
        </div>
    </div>
    <script>
        CKEDITOR.replace(document.querySelector('.document-editor__editable'), {
            width: '100%',  // 입력창의 넓이, 넓이는 config.js 에서 % 로 제어
            height: '800px',  // 입력창의 높이
            startupFocus: false
        });
        let formData = document.querySelector('#formData').value;
        // console.log(formData);
        CKEDITOR.instances.editor1.setData(formData);
        // CKEDITOR.instances.editor1.setData("안녕하세요.");
        // CKEDITOR.config.readOnly = true;
        // CKEDITOR.instances.editor1.setReadOnly(true);
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function (e) {

            var formObj = $("form[role='form']");

            //결재 요청 클릭시 변경된 문서 내용 전송하도록
            $("#request").on("click", function (e) {
                e.preventDefault();

                $("#formData").val(CKEDITOR.instances.editor1.getData());

                //
                // var str = "";
                //
                // for (var i = 0; i < $("#approvers").size(); i++) {
                //     str += "<input type='hidden' name='approvers["+i+"]' th:value='${approvers.get("+i+")}'>";
                //
                //      str += "<input type='hidden' name='approvers["+i+"].apStep' th:value=i>";
                //     str += "<input type='hidden' name='approvers["+i+"].approver' th:value="+ $("#approvers").val()   ">";
                //     str += "<input type='hidden' name='approvers["+i+"].apDutyName' th:value="+   ">";
                // }
                formObj.submit();
                //formObj.append(str).submit();
            });

        });


    </script>

</div> <!-- content end -->
</html>
