<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">
<head>

    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>Insert Title here</title>
</head>

<body>
<h1>UserStatus List</h1>

<!--<table class="table-striped table-bordered table-hover">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>이름</th>-->
<!--        <th>이메일</th>-->
<!--        <th>전화번호</th>-->
<!--        <th>전체 작업수</th>-->
<!--        <th>완료 작업수</th>-->
<!--        <th>진행 중 작업수</th>-->
<!--        <th>대기 중 작업수</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <c:forEach items="${userStatusList}" var="userStatusVO">-->

<!--        <tr>-->
<!--            <td><c:out value="${userStatusVO.userName}" /></td>-->
<!--            <td><c:out value="${userStatusVO.userEmail}" /></td>-->
<!--            <td><c:out value="${userStatusVO.userPhone}" /></td>-->
<!--            <td><c:out value="${userStatusVO.taskStatusCountVO.projectTaskAllCount}" /></td>-->
<!--            <td><c:out value="${userStatusVO.taskStatusCountVO.projectTaskCompleteCount}" /></td>-->
<!--            <td><c:out value="${userStatusVO.taskStatusCountVO.projectTaskProcessCount}" /></td>-->
<!--            <td><c:out value="${userStatusVO.taskStatusCountVO.projectTaskStandbyCount}" /></td>-->
<!--        </tr>-->
<!--    </c:forEach>-->
<!--</table>-->


</body>

</html>