<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<title id="pageTitle">사용자 등록</title>

<th:block layout:fragment="css">
    <link href="/css/jquery-ui.css" rel="stylesheet">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/js/jquery-ui.js"></script>
</th:block>

<div layout:fragment="content">

<table class="table-striped table-bordered table-hover">

    <div>
        <form  action="" method="post">
            <table>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">이름</th>
                    <th scope="col">이메일</th>
                    <th scope="col">전화번호</th>
                    <th scope="col">전체 작업수</th>
                    <th scope="col">완료 작업수</th>
                    <th scope="col">대기 작업수</th>
                </tr>
                </thead>
                <tbody id="statusList">
                <tr th:each="statusList,index : ${userStatusList}">
                    <td scope="row" th:text="${index.index+1}"></td>
                    <td th:text="${statusList.user_name}"></td>
                    <td th:text="${statusList.user_id}"></td>
<!--                    <td th:text="${statusList.}"></td>-->
<!--                    <td th:text="${statusList.teamName}"></td>-->
<!--                    <td th:text="${statusList.userEmail}"></td>-->
<!--                    <td th:text="${statusList.userPhone}"></td>-->
<!--                    <td th:text="${statusList.userRegitDate}"></td>-->
                    <td><input type="checkbox" name="chBox" class="check-box" th:value="${userList.userId}"/></td>

                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- List end -->



    <c:forEach items="${userStatusList}" var="userStatusVO">

        <tr>
            <td><c:out value="${userStatusVO.userName}" /></td>
            <td><c:out value="${userStatusVO.userEmail}" /></td>
            <td><c:out value="${userStatusVO.userPhone}" /></td>
            <td><c:out value="${userStatusVO.taskStatusCountVO.projectTaskAllCount}" /></td>
            <td><c:out value="${userStatusVO.taskStatusCountVO.projectTaskCompleteCount}" /></td>
            <td><c:out value="${userStatusVO.taskStatusCountVO.projectTaskProcessCount}" /></td>
            <td><c:out value="${userStatusVO.taskStatusCountVO.projectTaskStandbyCount}" /></td>
        </tr>
    </c:forEach>
</table>


</div>


</html>