<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<title id="pageTitle">사용자 현황</title>

<th:block layout:fragment="css">
    <link href="/css/jquery-ui.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/css/userStatus/statusList.css">-->
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/js/jquery-ui.js"></script>
</th:block>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">사용자 현황</h3>
                    <br><br>

                    <!-- Search start-->
                    <div class="col-lg-4 float-right">
                    <form id='searchForm' action="/userStatusList" method='get' class="form-inline repeater float-right">
                        <div data-repeater-list="group-a">
                            <div data-repeater-item="" class="d-md-flex mb-2">
                                <div class="input-group mb-2 mr-md-2 mb-md-0">
                                    <div class="input-group-prepend">
                                    </div>
                                    <select class="form-control" name='type'>
                                        <option value="NULL" th:selected="${pageMaker.cri.type == null?true:false}">--
                                        </option>
                                        <option value="N" th:selected="${pageMaker.cri.type eq 'N'?true:false}">이름
                                        </option>
                                        <option value="P" th:selected="${pageMaker.cri.type eq 'P'?true:false}">프로젝트명
                                        </option>
                                    </select>
                                </div>
                                <div class="input-group mb-2 mr-md-2 mb-md-0">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" name="keyword" class="form-control" placeholder="Search Here"
                                           th:value="${pageMaker.cri.keyword}">
                                    <input type='hidden' name='pageNum' th:value="${pageMaker.cri.pageNum}">
                                    <input type='hidden' name='amount' th:value="${pageMaker.cri.amount}">
                                </div>
                                <button type="submit" class="btn btn-success btn-sm">검색</button>
                            </div>
                        </div>
                    </form>
                    </div>
                    <!-- Search end-->

                    <div>
                        <form action="" method="post">
                            <table class="table dataTable no-footer">
                                <thead class="align-content-center">
                                <tr class="align-content-center">
                                    <th scope="col">No.</th>
                                    <th scope="col">이름</th>
                                    <th scope="col">이메일</th>
                                    <th scope="col">전화번호</th>
                                    <th scope="col">프로젝트명</th>
                                    <th scope="col">전체 작업수</th>
                                    <th scope="col">완료 작업수</th>
                                    <th scope="col">진행 작업수</th>
                                    <th scope="col">대기 작업수</th>
                                </tr>
                                </thead>
                                <tbody id="statusList">
                                <tr th:each="statusList,index : ${userStatusList}">
                                    <td scope="row" th:text="${index.index+1}"></td>
                                    <td th:text="${statusList.userName}"></td>
                                    <td th:text="${statusList.userEmail}"></td>
                                    <td th:text="${statusList.userPhone}"></td>
                                    <td th:text="${statusList.projectName}"></td>
                                    <td th:text="${statusList.taskCountTotal}"></td>
                                    <td th:text="${statusList.taskCountComplete}"></td>
                                    <td th:text="${statusList.taskCountProcessing}"></td>
                                    <td th:text="${statusList.taskCountStandBy}"></td>
                                </tr>
                                </tbody>

                            </table>
                        </form>
                    </div>
                    <!-- List end -->
                    <br><br>
                    <!-- paging start -->
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">
                                <p th:text="'Showing 1 to ' +${userStatusList.size()}+ 'of '+${userStatusList.size()} +' entries'">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination justify-content-end">
                                    <li class="paginate_button page-item previous"
                                        id="dataTable_previous"
                                        th:if="${pageMaker.prev}">
                                        <a th:href="${pageMaker.endPage -1}"
                                           aria-controls="dataTable"
                                           data-dt-idx="0"
                                           tabindex="0"
                                           class="page-link">Prev</a>
                                    </li>
                                    <th:block
                                            th:each="number: ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                                        <li class="paginate_button page-item" th:classappend="${pageMaker.cri.pageNum eq number} ? active : ''">
                                            <a th:href="${number}"
                                               aria-controls="dataTable" data-dt-idx="1"
                                               tabindex="0" class="page-link" th:text="${number}">1</a>
                                        </li>
                                    </th:block>

                                    <li class="paginate_button page-item next" id="dataTable_next"
                                        th:if="${pageMaker.next}">
                                        <a th:href="${pageMaker.endPage +1}"
                                           aria-controls="dataTable"
                                           data-dt-idx="7" tabindex="0"
                                           class="page-link"
                                        >Next</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <!-- paging end-->
                </div>

                <form id='actionForm' action="/userStatusList" method='get'>
                    <input type='hidden' name='type' th:value="${pageMaker.cri.type}">
                    <input type='hidden' name='keyword' th:value="${pageMaker.cri.keyword}">
                    <input type='hidden' name='pageNum' th:value="${pageMaker.cri.pageNum}">
                    <input type='hidden' name='amount' th:value="${pageMaker.cri.amount}">
                </form>

                <script>
                    $(document).ready(function () {

                        //Paging
                        var actionForm = $("#actionForm");
                        //페이지 이전,다음, 숫자 버튼 클릭시
                        $(".paginate_button a").on(
                            "click",
                            function (e) {
                                e.preventDefault(); //a태그 기능 막고
                                console.log("click");
                                //actionForm pageNum값을 href 속성값으로 추가
                                actionForm.find("input[name='pageNum']")
                                    .val($(this).attr("href"));
                                actionForm.submit();
                            });

                        //Search
                        var searchForm = $("#searchForm");
                        $("#searchForm button").on(
                            "click",
                            function (e) {

                                if (searchForm.find("option:selected")
                                    .val() == "NULL") {
                                    alert("검색 종류를 선택하세요.")
                                    return false;
                                }

                                if (!searchForm.find(
                                    "input[name='keyword']").val()) {
                                    alert("키워드를 입력하세요.")
                                    return false;
                                }

                                searchForm.find("input[name='pageNum']")
                                    .val("1");
                                // e.preventDefault(); //search버튼 클릭시 폼태그 전송막기
                                searchForm.submit();
                            });
                    });

                </script>


            </div>


</html>