<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>모든 프로젝트 리스트</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>No.</th>
				<th>프로젝트</th>
				<th>개발 형태</th>
				<th>시작일</th>
				<th>완료일</th>
				<th>산출물</th>
				<th>이슈</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${projectList}">
				<td th:text=${projectStat.count}></td>
				<td th:text="${project.projectName}"></td>
				<td th:text="${project.projectTypeName}"></td>
				<td th:text="${project.projectStart}"></td>
				<td th:text="${project.projectFinish}"></td>
				<td th:text="${project.projectOutputAccount}"></td>
				<td th:text="${project.projectIssueAccount}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>