<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>모든 프로젝트 리스트</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:inline="javascript" src="/js/project/projectTypeSearch.js"></script>
</head>
<body>
<div>
	<select id="projectTypeChoice" name="projectTypeChoice">
		<option value="all"> 전체 </option>
		<option th:each="projectType : ${projectTypeList}"
		 th:value="${projectType.projectTypeCode}" th:text="${projectType.projectType}">
		 </option>
	</select>
	
	
	<input type="text" placeholder="프로젝트명" id="projectName" style="margin-left:10px; margin-right:10px;"> 
	<button type="button" id="search_btn">검색</button>
	
	<button type="button" onclick="location.href='/goProjectAdd'">+프로젝트 등록</button>
	
</div>

<!-- ProjectList START-->
<div>
	<table style="text-align:center;">
		<thead>
			<tr>
				<th>No.</th>
				<th>프로젝트</th>
				<th>개발 형태</th>
				<th>시작일</th>
				<th>완료일</th>
				<th>산출물</th>
				<th>이슈</th>
			</tr>
		</thead>
		<tbody id="projectListBody">
			<tr th:each="project : ${projectList}">
				<td th:text=${projectStat.count}></td>
				<td th:text="${project.projectName}"></td>
				<td th:text="${project.projectTypeName}"></td>
				<td th:text="${project.projectStart}"></td>
				<td th:text="${project.projectFinish}"></td>
				<td th:text="${project.projectOutputAccount}"></td>
				<td th:text="${project.projectIssueAccount}"></td>
			</tr>
		</tbody>
	</table>
</div>
<!-- ProjectList END -->

</body>
</html>