<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admindefault}">

<title id="pageTitle">사용자 등록</title>

<th:block layout:fragment="css">
    <link href="/css/jquery-ui.css" rel="stylesheet">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/js/jquery-ui.js"></script>
</th:block>

<div layout:fragment="content">

    Not yet


</div>

<script>
</script>



</html>