<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admindefault"
>

<title id="pageTitle">부서 관리</title>

<th:block layout:fragment="css">
    <link href="/css/jquery-ui.css" rel="stylesheet">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="/js/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.teamListWithLevel').on('click', function () {


                var str = ""
                var tdArr = new Array();	// 배열 선언

                var teamCd = $(this).find('p:eq(0)').text();
                //alert(teamCd);

                getTeamDetail(teamCd);

                //callTeamSelectBox();

                if ($(this).find('p:eq(1)').attr('name') != 'teamLevel3') {
                    $('#upperTeam').hide();
                } else {
                    $('#upperTeam').show();
                }

            })
        });

        function getTeamDetail(teamCd) {
            $.ajax({
                type: "GET",
                url: "/admin/getTeamDetail",
                dataType: "json",
                data: {"teamCode": teamCd},
                success: function (result) {
                    $('#teamCode').val(result.teamCode);
                    $('#teamName').val(result.teamName);
                    $('#teamSeq').val(result.teamSeq);

                    //SELECT BOX 초기화
                    $('#teamUpperCode').find('option').remove().end().append('<option value="" >선택</option>');

                    $.each(result.teamUpperList, function (i) {

                        var selected = (result.teamUpper = result.teamUpperList[i].teamCode) ? "selected" : "";
                        $('#teamUpperCode').append("<option value='" + result.teamUpperList[i].teamCode + "' " + selected + " >" + "[" + result.teamUpperList[i].teamCode + "]  " + result.teamUpperList[i].teamName + "</option>")
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("오류가 발생하였습니다.");
                }
            });
        }

    </script>

</th:block>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">부서 관리</h3>
                    <div class="row" style="height: 70vh; padding-bottom: 20px">
                        <div class="col-5" style="padding-left:30px;">
                            <h4 style="padding-: 10px" class="card-title">부서 리스트</h4>
                                <div class="col"
                                     style="height:60vh; width:45vh; background: ghostwhite; padding: 40px;">
                                    <div class="teamListWithLevel" th:each="teamList : ${teamSettingList}">
                                        <p th:text="${teamList.teamCode}" class="d-none"></p>
                                        <p th:if="${teamList.level == 1}" th:text="${teamList.teamName}"></p>
                                        <p th:if="${teamList.level == 2}"
                                           th:text="'&nbsp;&nbsp;&nbsp;'+${teamList.teamName}"></p>
                                        <p th:if="${teamList.level == 3}"
                                           th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+${teamList.teamName}"
                                           name="teamLevel3"></p>
                                </div>
                            </div>
                        </div>

                        <!--부서 상세 정보-->
                        <div class="col-3">
                            <h4 style="padding-: 10px" class="card-title">부서 정보</h4>

                            <div style="padding: 20px">

                                <!--                                <div class="form-group row">-->
                                <!--                                    <div class="col-xs-2 col-lg-2">-->
                                <!--                                        <label for="teamCode">부서코드</label>-->
                                <!--                                    </div>-->
                                <!--                                    <div class="col-xs-6 col-lg-6">-->
                                <!--                                        <input id="teamCode" type="text" class="text ui-widget-content"><br>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->


                                <form action="/admin/getTeamDetail,/admin/updateTeam" id="getDetailAndUpdateTeam">
                                    <label style="width: 100px" for="teamCode">부서코드</label>
                                    <input id="teamCode" type="text" class="text ui-widget-content"><br>
                                    <label style="width: 100px" for="teamName">부서명</label>
                                    <input id="teamName" type="text" class="text ui-widget-content"><br>
                                    <div id="upperTeam">
                                        <label style="width: 100px" for="teamUpperCode">상위부서</label>
                                        <select style="width: 175px" id="teamUpperCode" class="">
                                        </select><br>
                                    </div>
                                    <label style="width: 100px" for="teamSeq">순서</label>
                                    <input id="teamSeq" type="number" class="text ui-widget-content"><br><br>
                                    <button type="submit" class="btn btn-inverse-dark btn-fw" style="float: right; ">
                                        삭제
                                    </button>
                                    <button type="submit" id="updateTeam" class="btn btn-success"
                                            style="float: right; margin-right: 10px">변경 혹은 저장
                                    </button>


                                    <!--등록에서 아래 시퀀스 생성으로 해볼 것-->
                                    <!--DB에 시퀀스 생성. 시작번호는 106까지 등록되어 있어서 저렇게 함 이후 101로 수정되면 수정해도..-->
                                    <!--SQL >> CREATE SEQUENCE TEAM_CODE_SEQ START WITH 106 MAXVALUE 10000 NOCYCLE;-->
                                    <!-- 삭제버튼 -->
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


</html>