<?xmlversion ="1.0"encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bit.foo.mapper.EventMapper">
	<resultMap type="com.project.bit.foo.domain.event.Event" id="Event">
		<result property="eventId" column="EVENT_ID" javaType="string" />
		<result property="eventTitle" column="EVENT_TITLE" javaType="string" />
		<result property="eventStartDate" column="EVENT_START_DATE" javaType="date" />
		<result property="eventFinishDate" column="EVENT_FINISH_DATE" javaType="date" />
		<result property="eventDescription" column="EVENT_DESCRIPTION" javaType="string" />
		<result property="eventAllDay" column="EVENT_ALL_DAY" javaType="boolean" />
		<result property="eventPlace" column="EVENT_PLACE" javaType="string" />
		<result property="eventTypeId" column="EVENT_TYPE_ID" javaType="string" />
		<result property="projectCode" column="PROJECT_CODE" javaType="string" />
	</resultMap>
	
	<select id="selectEventById" resultType="Event">
		SELECT * FROM events e INNER JOIN event_groups g ON e.event_id = g.event_id WHERE g.user_id=#{userId}
	</select>
	
	<select id="selectEvent" resultType="Event">
		SELECT * FROM events WHERE EVENT_ID=#{eventId}
	</select>
	
	<insert id="insertEvent">
		INSERT INTO EVENTS(EVENT_ID, EVENT_TITLE, EVENT_START_DATE, EVENT_FINISH_DATE, EVENT_DESCRIPTION, EVENT_ALL_DAY, EVENT_PLACE, EVENT_TYPE_ID, PROJECT_CODE) 
		VALUES(#{eventId}, #{eventTitle}, #{eventStartDate}, #{eventFinishDate}, #{eventDescription}, #{eventAllDay}, #{eventPlace}, #{eventTypeId}, #{projectCode})
	</insert>
	
	<delete id="deleteEvent">
		DELETE FROM EVENTS WHERE EVENT_ID=#{eventId};
	</delete>
	
	<insert id="insertMember">
		INSERT INTO EVENT_GROUPS(EVENT_ID, USER_ID) VALUES(#{eventId}, #{userId});
	</insert>
	
</mapper>