<?xmlversion ="1.0"encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bit.foo.mapper.EventGroupMapper">
	<resultMap type="com.project.bit.foo.domain.event.EventGroup" id="EventGroup">
		<result property="eventId" column="EVENT_ID" javaType="string" />
		<result property="userId" column="USER_ID" javaType="string" />
	</resultMap>
	
	<select id="selectGroup" resultType="string">
		SELECT USER_ID FROM EVENT_GROUPS WHERE EVENT_ID=#{eventId}
	</select>
	
	<insert id="insertMember">
		INSERT INTO EVENT_GROUPS(EVENT_ID, USER_ID) VALUES(#{eventId}, #{userId})
	</insert>
	
	<delete id="updateGroup">
		DELETE FROM EVENT_GROUPS WHERE USER_ID=#{userId};
	</delete>
	
</mapper>