/*
CHAT CSS
*/

/*
#chatroom-content {
    overflow: auto;
    height: 300px;
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

#user-list {
    height: 100px;
    overflow: auto;
}*/

.fas fa-user-plus .fas fa-long-arrow-alt-left .fas fa-sign-out-alt .fas fa-plus {
    height: 100px;
}

.chatroom-message {
    height: auto;
    display: block;
    float: right;
}

