<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!-- default layout head -->
    <!-- layout 2버전 이후부터는 config파일,
    layout:fragment="script" || "css"태그 없이 해당 html 페이지에 <head>태그 사용 가능함 -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:include=":: #pageTitle">Layout Title</title>
        <link rel="shortcut icon" href="/images/favicon.png">
        <!-- common css -->
        <link rel="stylesheet" href="/css/default.bundle.base.css">
        <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="magnific-popup/magnific-popup.css">

        <!-- content css -->
        <th:block layout:fragment="css"></th:block>

        <!-- common js -->
        <script src="/js/default.bundle.base.js"></script>
        <script src="magnific-popup/jquery.magnific-popup.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script><!-- google chart -->

        <script src="js/hoverable-collapse.js"></script><!-- nav 관련 -->
        <script src="/js/misc.js"></script><!-- nav 관련 -->
        <script src="/js/settings.js"></script><!-- 메신저로 수정/대체 필요한 부분 -->

        <!-- content js -->
        <th:block layout:fragment="script"></th:block>
    </head>
    <!-- END default layout head -->


    <header th:replace="fragments/header :: header"></header>

    <div layout:fragment="content"></div>

    <footer th:replace="fragments/footer :: footer"></footer>

</html>