spring:
  datasource:
    url: jdbc:log4jdbc:oracle:thin:@beatcamps-152.cxqqny6qespu.ap-northeast-2.rds.amazonaws.com:1521:orcl
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    username: admin
    password: 12345678

  devtools:
    livereload:
      enabled: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

mybatis:
  mapper-locations: mapper/**/*Mapper.xml
  type-aliases-package: com.project.bit.foo.domain
  configuration:
    map-underscore-to-camel-case: true

logging:
  file:
    path: logback-spring.xml

server:
  port: 8080