<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bit.approval.mapper.ApDocMapper">

    <select id="selectApForm" resultType="com.project.bit.approval.domain.ApFormDTO">
        select * from approvalform where ap_form_no = #{apFormNo}
    </select>
</mapper>
