<div th:fragment="sidebar">	
	    <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile mt-4">
              <div class="nav-link">
                <div class="profile-image">
                  <img src="images/user.png" alt="image" class="bg-success">
                </div>
                <div class="profile-name">
                  <p class="name">
                    User Name
                  </p>
                  <p class="designation">
                    Developer
                  </p>
                </div>
              </div>
            </li>

            <li class="nav-item">
             <a class="nav-link" href="#">
               <i class="icon-bell menu-icon"></i>
               <span class="menu-title">관리자 홈</span>
             </a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="icon-bell menu-icon"></i>
                <span class="menu-title">사용자 관리</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="icon-bell menu-icon"></i>
                <span class="menu-title">부서 관리</span>
              </a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="icon-bell menu-icon"></i>
                <span class="menu-title">Notifications</span>
              </a>
            </li> 서브메뉴 없는 경우의 nav항목-->
          </ul>
        </nav>
</div>	        