<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<title id="pageTitle">모든 프로젝트 리스트</title>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/jquery-ui.css" rel="stylesheet">
	<link href='/fullcalendar/fullcalendar.css' rel='stylesheet' />
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/calendar.css" rel="stylesheet">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src='/fullcalendar/lib/jquery.min.js'></script>
	<script src='/js/jquery-ui.js'></script>
	<script src='/fullcalendar/lib/moment.min.js'></script>
	<script src='/fullcalendar/fullcalendar.js'></script>
	<script type='text/javascript' src='fullcalendar/gcal.js'></script>
	<script src="/js/calendar.js" type="text/javascript"></script>
	<script th:inline="javascript" src="/js/project/projectTypeSearch.js"></script>
</th:block>


<div layout:fragment="content">
	<div class="card">
		<div class="card-body">
			<div class="text-center">
				<h3>일정관리</h3>
				<hr class="my-4">
			</div>
			<div class="row">
				<div class="col-md-2">
					<canvas id="chart"></canvas>
					<table id="chartData" class="table" style="text-align: center;">
						<tr>
							<th>이벤트 타입</th>
							<th>총 수</th>
						</tr>
						<tr th:each="statistic : ${statistic}" style="color: #21A9F5">
							<td th:text="${statistic.eventType}"></td>
							<td th:text="${statistic.eventAmount}"></td>
						</tr>
					</table>
				</div>
				<div id="calendar" class="col-sm-10"></div>
			</div>
		</div>
	</div>
	<!-- add event window -->
	<div id="dialog-window">
		<form class="needs-validation" id="newEvent" th:action="@{/addEvent}"
			method="post">
			<div class="mb-3">
				<label for="title">title</label> <input name="eventTitle"
					class="form-control" id="title" required="required">
			</div>
			<br>
			<div class="mb-3">
				<label for="start">start</label> <input name="eventStartDate"
					type="text" class="form-control date-start" id="start" required="required">
			</div>
			<div class="mb-3">
				<label for="finish">finish</label> <input name="eventFinishDate" type="text" class="form-control date-finish" id="finish" required="required">
			</div>
			<div class="mb-3">
				<label for="description">description</label>
				<textarea name="eventDescription" class="form-control"
					id="description"></textarea>
			</div>
			<div class="mb-3">
				<label for="eventPlace">Place</label> <input name="eventPlace"
					type="text" class="form-control" id="place">
			</div>
			<div class="mb-3">
				<label for="all Day">all Day</label> <input name="eventAllDay"
					type="checkbox" class="" value="1">
			</div>
			<div class="mb-3">
				<label for="Type">Type</label> <select name="eventTypeId"
					class="form-control">
					<option value="EV-700">Other</option>
					<option th:each="el : ${eventTypes}" th:value="${el.eventTypeId}"
						th:text="${el.eventType}"></option>
				</select>
			</div>
			<div class="mb-3">
				<label for="Project">Project</label> 
				<select name="projectCode"
					class="form-control">
					<option value="">None</option>
					<option th:each="el : ${projectList}" th:value="${el.projectCode}"
						th:text="${el.projectSubname}"></option>
				</select>
			</div>
			<div class="mb-3">
				<label for="Project">Members:</label>
				<textarea name="eventMembers" id="textList" readonly="readonly"
					class="form-control" required="required"></textarea>
			</div>
			<div class="mb-3">
				<label for="Project">Add:</label>
				<div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 100%; max-height: 150px;">
					<button th:each="el : ${usersList}" th:text="${el.userId}"
						type="button" class="btn btn-light memb"></button>
				</div>
			</div>
			<hr class="mb-4">
			<button class="btn btn-success" type="submit">Create</button>
		</form>
	</div>
	<!-- add event window end-->


	<!-- edit event window -->
	<div id="dialog-event">
		<form class="needs-validation" action="/editEvent" id="EditEvent"
			method="post">
			<div class="mb-3">
				<label for="title">title</label> <input name="eventTitle"
					type="text" class="form-control" id="title">
			</div>
			<div class="mb-3" hidden="">
				<input name="eventId" type="text" class="form-control" id="eventId">
			</div>
			<br>
			<div class="mb-3">
				<label for="start">start</label> <input name="eventStartDate"
					type="text" class="form-control date-start" id="start">
			</div>
			<div class="mb-3">
				<label for="finish">finish</label> <input name="eventFinishDate"
					type="text" class="form-control date-finish" id="finish">
			</div>
			<div class="mb-3">
				<label for="description">description</label>
				<textarea name="eventDescription" class="form-control"
					id="description"></textarea>
			</div>
			<div class="mb-3">
				<label for="eventPlace">Place</label> <input name="eventPlace"
					type="text" class="form-control" id="place">
			</div>
			<div class="mb-3">
				<label for="all Day">all Day</label> <input name="eventAllDay"
					type="checkbox" class="" value="1" id="allDay">
			</div>
			<div class="mb-3">
				<label for="Type">Type</label> <select name="eventTypeId" id="type"
					class="form-control">
					<option value="">None</option>
					<option th:each="el : ${eventTypes}" th:value="${el.eventTypeId}"
						th:text="${el.eventType}"></option>
				</select>
			</div>
			<div class="mb-3">
				<label for="Project">Project</label> <select name="projectCode"
					id="project" class="form-control">
					<option value="">None</option>
					<option th:each="el : ${projectList}" th:value="${el.projectCode}"
						th:text="${el.projectSubname}"></option>
				</select>
			</div>
			<div class="mb-3">
				<label for="Project">Members:</label>
				<textarea name="eventMembers" class="textList form-control"
					readonly="readonly"></textarea>
			</div>
			<div class="mb-3">
				<label for="Project">Add:</label>
				<div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
					style="max-width: 100%; max-height: 150px;">
					<button th:each="el : ${usersList}" th:text="${el.userId}"
						type="button" class="btn btn-light memb"></button>
				</div>
			</div>
			<hr class="mb-4">
			<button id="edit" class="btn btn-success" type="submit">Edit</button>
			<button id="delete" class="btn btn-success button-delete"
				type="submit">Delete</button>
		</form>
	</div>
	<!-- edit event window -->

</div>
</html>