<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Calendar</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/jquery-ui.css" rel="stylesheet">
	<link href='/fullcalendar/fullcalendar.css' rel='stylesheet' />
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/calendar.css" rel="stylesheet">
	
	<link rel="stylesheet" href="css/default.bundle.base.css">
  	<!-- endinject -->
  	<!-- plugin css for this page -->
  	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
  	<!-- End plugin css for this page -->
  	<!-- inject:css -->
  	<link rel="stylesheet" href="css/style.css">
  	<!-- endinject -->
  	<link rel="shortcut icon" href="images/favicon.png" />
	
	
	
</head>
<body>
	<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:insert="elements/navigationbar :: navbar"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="fa fa-comments-o"></i></div>
          <div id="theme-settings" class="settings-panel">
            <p class="settings-heading">Messenger</p>
            <i class="settings-close fa fa-times"></i>
          </div>
        </div>
        <div id="right-sidebar" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <ul class="nav nav-tabs" id="setting-panel" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
            </li>
          </ul>
          <div class="tab-content" id="setting-content">
            <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
              <!-- 지울 시 nav 단축 작동안함 -->
            </div>
            <!-- chat tab ends -->
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        
        <div th:insert="elements/sidebar :: sidebar"></div>
        
        <!-- partial -->
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Calendar</h6>
    	          <div class="contaner">
					<div id="calendar"></div>
					</div>
                  <div id="js-legend" class="chartjs-legend mt-4 mb-5"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 bitcamp JAVA 152 Final_2Team.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">PMService</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

	<div id="dialog-window">
		<form class="needs-validation" novalidate="">
			<div class="row">
				
				<div class="mb-3">
					<label for="title">title</label> <input type="text"
						class="form-control" id="title">
				</div><br>
				<div class="mb-3">
					<label for="start">start</label> <input type="text"
						class="form-control datePicker" id="start">
				</div>
				<div class="mb-3">
					<label for="finish">finish</label> <input type="text"
						class="form-control datePicker" id="finish">
				</div>

			</div>
			<hr class="mb-4">
			<button class="btn btn-success" type="submit">Create</button>
		</form>
	</div>
	
	
	<div id="dialog-event">
		<form class="needs-validation" novalidate="">
			<div th:each="el : ${event}" class="row">
				
				<div class="mb-3">
					<div id="titlet"></div>
					<label for="title">title</label> 
					<input type="text" class="form-control" id="title" th:value="${el.eventTitle}">
				</div><br>
				<div class="mb-3">
					<label for="start">start</label> 
					<input type="text" class="form-control datePicker" id="start" th:value="${el.eventStartDate}">
				</div>
				<div class="mb-3">
					<label for="finish">finish</label> 
					<input type="text" class="form-control datePicker" id="finish" th:value="${el.eventFinishDate}">
				</div>

			</div>
			<hr class="mb-4">
			<button class="btn btn-success" type="submit">Create</button>
		</form>
	</div>
	
	
	<!-- plugins:js -->
  	<script src="js/default.bundle.base.js"></script>
  	<!-- endinject -->

  	<!-- Plugin js for this page-->
  	<!-- this 페이지의 플러그인 js 넣을 자리 -->
  	<!-- End plugin js for this page-->

  	<!-- inject:js -->
  	<script src="js/hoverable-collapse.js"></script> <!-- nav 관련 -->
  	<script src="js/misc.js"></script> <!-- nav 관련 -->
  	<script src="js/settings.js"></script> <!-- 메신저로 수정/대체 필요한 부분 -->
  	<!-- endinject -->
	
	
	<script src='/fullcalendar/lib/jquery.min.js'></script>
	<script src='/js/jquery-ui.js'></script>
	<script src='/fullcalendar/lib/moment.min.js'></script>
	<script src='/fullcalendar/fullcalendar.js'></script>
	<script src="/js/calendar.js" type="text/javascript"></script>

</body>
</html>