<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">

	<div class="container-fluid clearfix">
		<span
			class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
			© 2020 bitcamp JAVA_152 Final_2Team.</span> <span
			class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">PMService</span>
	</div>

</footer>
</div><!-- content-wrapper ends -->
</div><!-- row-offcanvas ends -->
</div><!-- page-body-wrapper ends -->
</div><!-- container-scroller -->
<th:block layout:fragment="scriptCode"></th:block>
</head>
</body>
</html>