<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- <a th:href="@{/index}">index 페이지 이동</a>-->
<body>
<div class="container-scroller" th:fragment="header">
	<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
		<div
			class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
			<a class="navbar-brand brand-logo" href="index.html"><img
				src="/images/logo.png" alt="logo" /></a> <a
				class="navbar-brand brand-logo-mini" href="index.html"><img
				src="/images/logo-mini.png" alt="logo" /></a>
		</div>
		<div class="navbar-menu-wrapper d-flex align-items-center">
		
			<!-- 좌측 메뉴바 -->
			<button class="navbar-toggler navbar-toggler align-self-center"
				type="button" data-toggle="minimize">
				<span class="icon-menu"><i class="fa fa-navicon"></i></span>
			</button>
			<!-- 언어변경 -->
			<ul class="navbar-nav navbar-nav-right">
				<li class="nav-item dropdown d-none d-lg-flex"><a
					class="nav-link dropdown-toggle" id="languageDropdown" href="#"
					data-toggle="dropdown">Korean</a>
					<div class="dropdown-menu navbar-dropdown"
						aria-labelledby="languageDropdown">
						<a class="dropdown-item font-weight-medium" href="#">English</a>
					</div></li>
				<!-- 알림 -->
				<li class="nav-item dropdown"><a
					class="nav-link count-indicator dropdown-toggle"
					id="notificationDropdown" href="#" data-toggle="dropdown"> <i
						class="fa fa-bell-o mx-0"></i> <span class="count"></span>
				</a>
					<div
						class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
						aria-labelledby="notificationDropdown">
						<a class="dropdown-item">
							<p class="mb-0 font-weight-normal float-left">You have 4 new
								notifications</p> <span
							class="badge badge-pill badge-warning float-right">View
								all</span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-success">
									<i class="icon-info mx-0"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<h6 class="preview-subject font-weight-medium">Application
									Error</h6>
								<p class="font-weight-light small-text">Just now</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-warning">
									<i class="icon-speech mx-0"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<h6 class="preview-subject font-weight-medium">Settings</h6>
								<p class="font-weight-light small-text">Private message</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-info">
									<i class="icon-envelope mx-0"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<h6 class="preview-subject font-weight-medium">New user
									registration</h6>
								<p class="font-weight-light small-text">2 days ago</p>
							</div>
						</a>
					</div></li>
				<!-- 알림 end -->
				<!-- 쪽지 -->
				<li class="nav-item dropdown"><a
					class="nav-link count-indicator dropdown-toggle"
					id="messageDropdown" href="#" data-toggle="dropdown"
					aria-expanded="false"> <i class="fa fa-envelope-o"></i> <span
						class="count"></span>
				</a>
					<div
						class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
						aria-labelledby="messageDropdown">
						<div class="dropdown-item">
							<p class="mb-0 font-weight-normal float-left">You have 7
								unread mails</p>
							<span class="badge badge-info badge-pill float-right">View
								all</span>
						</div>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<img src="/images/faces/face4.jpg" alt="image"
									class="profile-pic">
							</div>
							<div class="preview-item-content flex-grow">
								<h6 class="preview-subject ellipsis font-weight-medium">
									David Grey <span
										class="float-right font-weight-light small-text">1
										Minutes ago</span>
								</h6>
								<p class="font-weight-light small-text">The meeting is
									cancelled</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<img src="/images/faces/face2.jpg" alt="image"
									class="profile-pic">
							</div>
							<div class="preview-item-content flex-grow">
								<h6 class="preview-subject ellipsis font-weight-medium">
									Tim Cook <span class="float-right font-weight-light small-text">15
										Minutes ago</span>
								</h6>
								<p class="font-weight-light small-text">New product launch</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<img src="/images/faces/face3.jpg" alt="image"
									class="profile-pic">
							</div>
							<div class="preview-item-content flex-grow">
								<h6 class="preview-subject ellipsis font-weight-medium">
									Johnson <span class="float-right font-weight-light small-text">18
										Minutes ago</span>
								</h6>
								<p class="font-weight-light small-text">Upcoming board
									meeting</p>
							</div>
						</a>
					</div></li>
				<!-- 쪽지 end -->
			</ul>
			
			<button
				class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
				type="button" data-toggle="offcanvas">
				<span class="icon-menu"><i class="fa fa-navicon"></i></span>
			</button>
		</div>
	</nav>
	<!-- partial -->
	<div class="container-fluid page-body-wrapper">
		<div class="row row-offcanvas row-offcanvas-right">
			<!-- partial:partials/_settings-panel.html -->
			<div class="theme-setting-wrapper">
				<div id="settings-trigger">
					<i class="fa fa-comments-o"></i>
				</div>
				<div id="theme-settings" class="settings-panel">
					<p class="settings-heading">Messenger</p>
					<i class="settings-close fa fa-times"></i>
				</div>
			</div>
			<div id="right-sidebar" class="settings-panel">
				<i class="settings-close mdi mdi-close"></i>
				<ul class="nav nav-tabs" id="setting-panel" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="todo-tab"
						data-toggle="tab" href="#todo-section" role="tab"
						aria-controls="todo-section" aria-expanded="true">TO DO LIST</a></li>
					<li class="nav-item"><a class="nav-link" id="chats-tab"
						data-toggle="tab" href="#chats-section" role="tab"
						aria-controls="chats-section">CHATS</a></li>
				</ul>
				<div class="tab-content" id="setting-content">
					<div class="tab-pane fade show active scroll-wrapper"
						id="todo-section" role="tabpanel" aria-labelledby="todo-section">
						<!-- 지울 시 nav 단축 작동안함 -->
					</div>
					<!-- chat tab ends -->
				</div>
			</div>
			<!-- partial -->
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item nav-profile mt-4">
						<div class="nav-link">
							<div class="profile-image">
								<img src="/images/user.png" alt="image" class="bg-success">
							</div>
							<div class="profile-name">
								<p class="name">User Name</p>
								<p class="designation">Developer</p>
							</div>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="#dashboard-nav"> <i
							class="fa fa-dashboard menu-icon"></i> <span class="menu-title">프로젝트
								대시보드</span> <span class="badge"> </span> <!-- nav item 옆 down arrow -->
					</a>
						<div class="collapse" id="dashboard-nav">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"><a class="nav-link" href="#">종합
										대시보드</a></li>
								<li class="nav-item"><a class="nav-link" href="#">상세
										대시보드</a></li>
								<li class="nav-item"><a class="nav-link" href="#">개인
										대시보드</a></li>
							</ul>
						</div></li>
					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="#project-nav"> <i
							class="fa fa-tasks menu-icon"></i> <span class="menu-title">프로젝트
								관리</span> <span class="badge"> </span> <!-- nav item 옆 down arrow -->
					</a>
						<div class="collapse" id="project-nav">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="/projectList">프로젝트 센터</a></li>
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">프로젝트 산출물</a></li>
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">프로젝트 작업 승인</a></li>
							</ul>
						</div></li>
					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="#myWork-nav"> <i
							class="fa fa-desktop menu-icon"></i> <span class="menu-title">내
								작업</span> <span class="badge"> </span> <!-- nav item 옆 down arrow -->
					</a>
						<div class="collapse" id="myWork-nav">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">내 작업</a></li>
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">일정관리</a></li>
							</ul>
						</div></li>
					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="#defaultWork-nav"> <i
							class="fa fa-folder-open-o menu-icon"></i> <span
							class="menu-title">일반업무</span> <span class="badge"> </span> <!-- nav item 옆 down arrow -->
					</a>
						<div class="collapse" id="defaultWork-nav">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">이슈관리</a></li>
							</ul>
						</div></li>
					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="#eleWork-nav"> <i
							class="fa fa-file-text-o menu-icon"></i> <span class="menu-title">전자결재</span>
							<span class="badge"> </span> <!-- nav item 옆 down arrow -->
					</a>
						<div class="collapse" id="eleWork-nav">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">결재요청</a></li>
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">결재</a></li>
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">문서함 관리</a></li>
							</ul>
						</div></li>
					<li class="nav-item"><a class="nav-link"
						data-toggle="collapse" href="#user-nav"> <i
							class="fa fa-user-o menu-icon"></i> <span class="menu-title">사용자
								관리</span> <span class="badge"> </span> <!-- nav item 옆 down arrow -->
					</a>
						<div class="collapse" id="user-nav">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">사용자 현황</a></li>
								<li class="nav-item d-none d-lg-block"><a class="nav-link"
									href="#">사용자 배정현황</a></li>
							</ul>
						</div>
					</li>
				<!-- <li class="nav-item">
              	<a class="nav-link" href="#">
                	<i class="icon-bell menu-icon"></i> <span class="menu-title">Notifications</span>
              	</a>
            	</li> 서브메뉴 없는 경우의 nav항목-->
				</ul>
			</nav>
			<div class="content-wrapper">
</html>