<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<title id="pageTitle">유저 대시보드</title>
<!-- 현재 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 현재 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="/js/dashBoard/dashBoardChart.js"></script>
</th:block>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div th:text="${userStatusCount.userTaskCount}"></div>
                            <a href="#"><span class="float-right">+more</span></a>
                        </div>
                        <div class="col-md-3">
                            <div th:text="${userStatusCount.userIssueCount}"></div>
                            <a href="#"><span class="float-right">+more</span></a>
                        </div>
                        <div class="col-md-3">
                            <div th:text="${userStatusCount.userOutputCount}"></div>
                            <a href="#"><span class="float-right">+more</span></a>
                        </div>
                        <div class="col-md-3">
                            <div th:text="${userStatusCount.userProjectCount}"></div>
                            <a href="#"><span class="float-right">+more</span></a>
                            <!--                        <div th:text="${userStatusCount.userProjectCount != null} ? ${userStatusCount.userProjectCount} : '0'"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">작업 진행상태</h6>
                    <div class="row">
                        <div id="UserTaskStatusChart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">이슈 현황</h6>
                    <a class="status-btn">상태별</a>
                    <a class="type-btn">유형별</a>
                    <div class="row">
                        <div id="UserIssueStatusChart"></div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">예정작업</h6>
                    <div class="row">
                        <table>
                            <thead>
                            <tr>
                                <th>프로젝트명</th>
                                <th>작업명</th>
                                <th>상태</th>
                                <th>시작일</th>
                                <th>완료일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="taskList : ${userTaskList}" th:object="${taskList}">
                                <td th:text="*{projectName}"></td>
                                <td th:text="*{taskName}"></td>
                                <td th:text="*{taskStatus}"></td>
                                <td th:text="*{taskStart}"></td>
                                <td th:text="*{taskFinish}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">내 산출물</h6>
                    <div class="row">
                        <table>
                            <thead>
                            <tr>
                                <th>프로젝트</th>
                                <th>작업</th>
                                <th>파일이름</th>
                                <th>등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="outputList : ${userOutputList}" th:object="${outputList}">
                                <td th:text="*{projectName}"></td>
                                <td th:text="*{taskName}"></td>
                                <td th:text="*{outputName}"></td>
                                <td th:text="*{outputDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</html>