<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<title id="pageTitle">MAIN</title>
<!-- 현재 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 현재 페이지 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">주요 프로젝트<a href="#"><span class="float-right">+more</span></a></h6>
                    <div>
                        <table width="100%">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>프로젝트</th>
                                <th>개발형태</th>
                                <th>상태</th>
                                <th>시작일</th>
                                <th>완료일</th>
                                <th>상세보기</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="keyProject : ${keyProjectList}" th:object="${keyProject}">
                                <td th:text="${keyProjectStat.count}"></td>
                                <td><a th:text="*{projectName}" th:href="'/project/' + *{projectCode}"></a></td>
                                <td th:text="*{projectTypeName}"></td>
                                <td th:text="*{projectStatusName}"></td>
                                <td th:text="*{projectStart}"></td>
                                <td th:text="*{projectFinish}"></td>
                                <td><!-- 해당 프로젝트의 상세 대시보드로 이동하는 자리
                                ProjectDetailController 참고
                                @RequestMapping("/project/{projectId}")--></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">프로젝트 진행현황</h6>
                    <div>
                        <table width="100%">
                            <thead>
                            <tr>
                                <th>개발형태</th>
                                <th>전체</th>
                                <th>진행중</th>
                                <th>진행예정</th>
                                <th>완료</th>
                                <th>중단</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="statusCount : ${projectStatusCount}" th:object="${statusCount}">
                                <td th:text="*{projectStatusName}"></td>
                                <td th:text="*{projectStatusAll}"></td>
                                <td th:text="*{projectStatusProcess}"></td>
                                <td th:text="*{projectStatusStandBy}"></td>
                                <td th:text="*{projectStatusComplete}"></td>
                                <td th:text="*{projectStatusStop}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">프로젝트 진행현<a href="#"><span class="float-right">+more</span></a></h6>
                    <div>
                        <table>
                            <thead>
                            <tr width="100%">
                                <th width="5%">No.</th>
                                <th width="45%">프로젝트</th>
                                <th width="10%">개발 형태</th>
                                <th width="10%">시작일</th>
                                <th width="10%">완료일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="keyProject : ${keyProjectList}" th:object="${keyProject}">
                                <td th:text="${keyProjectStat.count}"></td> <!-- search -->
                                <td th:text="*{projectName}"></td>
                                <td th:text="*{projectTypeName}"></td>
                                <td th:text="*{projectStart}"></td>
                                <td th:text="*{projectFinish}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div id="ajaxdiv"></div>
                        <button id="monthly">run</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const jsmonth = document.getElementById('monthly');
        console.log(jsmonth);
        const jsdiv = document.getElementById('ajaxdiv');

        jsmonth.addEventListener('click', function () {
            getData('http://localhost:8081/monthly', {})
                .then(
                    data => {
                        console.log(data);
                        data.map(project => {
                            jsdiv.innerHTML += project.projectPm;
                        })
                    }
                );
        });

        async function getData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            return response.json();
        }

    </script>
</div>


</html>