.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 750px;
	margin: 20px auto;
}

.white-popup input, textarea {
	width: 100%;
}

p {
	margin-top: 10px;
}

.taskGroup-div {
	border: 1px solid black;
	padding: 20px;
	width: 20%;
	float: left;
	margin-right: 5px;
}

.taskGroup-div a {
	font-weight: bold
}

.taskGroup-list {
	margin-bottom: 10px;
}

.task-add-modal {
	margin-bottom: 10px;
	width: 100%;
}

.task-modal-btns {
	float: right;
}

.task-manager {
	width: 100%;
}

/* .task-manager option{
	font-size: 20px;
} */
.task-manager-list {
	border: 1px solid black;
	height: 35px;
	align-items: center;
}

.task-manager-list span {
	margin-left: 5px;
	background-color: #808080;
	color: #ffffff;
}

.task {
	border: 1px solid black;
	padding: 10px;
	margin-top: 5px;
}

.task-top-nav {
	width:100%;
	text-align: center;
}

.task-top-nav a{
	width: 50%;
	cursor: pointer;
}

.task-name {
	cursor: pointer;
}

.success-task-list {
	margin-top: 10px;
}

.success-task-title {
	cursor: pointer;
	padding: 10px;
}

.success-task {
	border: 1px solid black;
	padding: 10px;
	margin-top: 5px;
	display: none;
}

.group-btn-list, .task-btn-list, .success-task-btn-list {
	cursor: pointer;
	float: right;
}

.group-btn, .task-btn, .success-task-btn{
	display: none;
}

.group-btn ul, .task-btn ul, .success-task-btn ul{
	float: right;
}

ul li{
	list-style: none;
	padding-left: 0px;
	cursor: pointer;
}

.task-file-add {
	border: 1px solid black;
	padding: 5px;
	margin: 10px;
	display: none;
}

.task-file-list {
	padding: 10px;
	text-align: center;
}

.task-file-table {
	text-align: center;
}

.task-file-table td {
	margin-right: 10px;
}

.task-file-table thead {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.task-file-table th {
	margin-right: 10px;
}

.task-file-table a {
	cursor: pointer;
}