.taskGroup-div {
	border: 1px solid #f3f3f3;
	background-color: #fcfcfc;
	border-radius: 3px !important;
	display: inline-block;
	padding: 0.56rem;
	width: 250px;
	float: left;
	margin: 0 5px 10px 5px;
}

.taskGroup-div a {
	text-decoration: underline;
}

.taskGroup-list {
	margin-bottom: 10px;
}

.task-add-modal {
	margin-bottom: 10px;
	width: 100%;
}

.task-modal-btns {
	float: right;
}

.task-manager {
	width: 100%;
}

.task-manager-list {
	border: 1px solid #f3f3f3;
	background-color: #fff;
	padding: .4375rem .75rem;
	align-items: center;
	height: 40px;
}

.task-manager-list li {
	float: left;
	background-color: #f3f3f3;
	margin-right: 5px;
}

.task {
	border: 1px solid #f3f3f3;
	background-color: #fff;
	border-radius: 3px !important;
	padding: 5px;
	margin: 5px 0;
}

.task-top-nav {
	width:100%;
	text-align: center;
}

.task-top-nav a{
	width: 50%;
	cursor: pointer;
}

.task-name {
	cursor: pointer;
	text-decoration: underline;
}

.success-task-list {
	margin-top: 10px;
}

.success-task {
	border: 1px solid #f3f3f3;
	background-color: #fff;
	border-radius: 3px !important;
	padding: 5px;
	display: none;
}

.group-btn-list, .task-btn-list, .success-task-btn-list {
	cursor: pointer;
	float: right;
	padding-top: 3px;
}

.group-add-modal {
	margin: 0 5px;
}

a:hover {
	color: #03a9f3 !important;
	text-decoration: underline;
}

.group-btn-list, .task-btn-list, .success-task-btn-list {
	cursor: pointer;
	float: right;
}

.group-btn, .task-btn, .success-task-btn{
	display: none;
}

.group-btn ul, .task-btn ul, .success-task-btn ul{
	float: right;
}

.success-task-btn {
	position: absolute;
	background: #fff;
	border: 1px solid #f3f3f3;
	padding: 1rem;
	text-align: center;
}

.success-task-btn ul {
	padding: 0 !important;
	margin: 0;
}

.task-btn {
	position: absolute;
	background: #fff;
	border: 1px solid #f3f3f3;
	padding: 1rem !important;
	text-align: center;
}

.task-btn ul {
	padding: 0 !important;
	margin: 0;
}

ul li{
	list-style: none;
	padding-left: 0px;
	cursor: pointer;
}

.task-file-add {
	border: 1px solid #f3f3f3;
	background-color: #fff;
	border-radius: 3px !important;
	padding: 1rem;
	margin: 10px;
	display: none;
}

.task-file-list {
	width: 100%;
	text-align: center;
}

.output-delete {
	cursor: pointer;
}

.task-top-nav a {
	text-decoration: underline !important;
}