<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<a class="p-2 text-dark" href="/">Main</a> 
	<section class="jumbotron text-center">
	    <div class="container">
	      <h1>Admin</h1>
	      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
	      <p>
	        <a href="#" class="btn btn-primary my-2">Main call to action</a>
	        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
	      </p>
	    </div>
	</section>
  
    <h1>Welcome to administrator page</h1>
	
</body>
</html>