<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<title id="pageTitle">MAIN</title>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">

	<div class="row">
		<div class="col-12 grid-margin">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">title</h6>
					<p class="card-description">this is index.html</p>
					<div id="js-legend" class="chartjs-legend mt-4 mb-5"></div>
				</div>
			</div>
		</div>
	</div>
<!-- js code -->
<th:block layout:fragment="scriptCode">
</th:block>
</div>


</html>
