<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Registration</title>
</head>
<body>
	<a class="p-2 text-dark" href="/">Main</a> 
	<div align="center">
		<form action="/registration" method="post" class="form-signin w-25 p-3" >
			<img class="mb-4" src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
			<input name="userId" type="text" class="form-control" placeholder="Input USER_ID" required="required" autofocus="autofocus"><br>
			<input name="userPw" type="password" class="form-control" placeholder="Password" required="required"><br>
			<input name="userName" type="text" class="form-control" placeholder="USER_NAME" required="required"><br>
			<input name="userEmail" type="text" class="form-control" placeholder="USER_EMAIL" required="required"><br>
			<input name="userPhone" type="text" class="form-control" placeholder="USER_PHONE" required="required"><br>
			<input name="teamCode" type="text" class="form-control" placeholder="Input TEAM_CODE" required="required"><br>
			<input name="positionCode" type="text" class="form-control" placeholder="Input POSITION_CODE" required="required"><br>
			
			<!-- <input name="USER_REGITDATE" type="date" class="form-control" required="required"><br>
			 -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
			<!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}"/> -->
		</form>
	</div>

</body>
</html>