<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bit.userStatus.mapper.UserStatusMapper">

    <select id="selectUserStatus" parameterType="com.project.bit.approval.domain.Criteria" resultType="com.project.bit.userStatus.domain.UserStatusVO">
        SELELT *
        FROM
        (SELECT
            ROWNUM RN
            ,USER_ID
            ,USER_NAME
            ,USER_EMAIL
            ,USER_PHONE
            ,TASKCOUNTTOTAL
            ,TASKCOUNTPROCESSING
            ,TASKCOUNTCOMPLETE
            ,TASKCOUNTSTANDBY
        FROM
        (SELECT
             U.USER_ID
            ,U.USER_NAME
            ,U.USER_EMAIL
            ,U.USER_PHONE
            ,COUNT(project_tasks.taskGroup_code) as TASKCOUNTTOTAL
            ,COUNT(CASE WHEN project_tasks.task_status_code = 'taskstatus100' THEN 1 END) AS TASKCOUNTPROCESSING
            ,COUNT(CASE WHEN project_tasks.task_status_code = 'taskstatus200' THEN 1 END) AS TASKCOUNTCOMPLETE
            ,COUNT(CASE WHEN project_tasks.task_status_code = 'taskstatus300' THEN 1 END) AS TASKCOUNTSTANDBY
        FROM USERS U
        INNER JOIN project_members
            ON users.user_id = project_members.user_id
        INNER JOIN project_task_groups
            ON project_members.project_code = project_task_groups.project_code
        INNER JOIN project_tasks
          ON project_task_groups.taskGroup_code = project_tasks.taskGroup_code
        WHERE 1=1
        <trim prefix="AND">
            <choose>
                <when test="type == 'N'.toString()">
                    user_name like '%'||#{keyword}||'%'
                </when>
                <when test="type == 'T'.toString()">
                    team_name like '%'||#{keyword}||'%'
                </when>
            </choose>
        </trim>
        GROUP BY users.user_id, users.user_name, users.user_email, users.user_phone)
        <![CDATA[
         WHERE ROWNUM <= #{pageNum} * #{amount})
     WHERE RN > (#{pageNum} -1) * #{amount}
    ]]>
    </select>

    <!--Total Count-->
    <select id="selectCountUserStatus" parameterType="com.project.bit.approval.domain.PageDTO" resultType="int">
        <![CDATA[
        SELECT
            COUNT(USER_ID)
        FROM USERS
        ]]>
    </select>

</mapper>

