<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bit.dashBoard.mapper.DashBoardDetailMapper">
	<select id="selectProjectByName" resultType="com.project.bit.project.domain.ProjectDTO">
		select * from projects where project_name=#{projectName}
	</select>
	<select id="selectProjectList" resultType="com.project.bit.project.domain.ProjectDTO">
		select project_name from projects
	</select>
</mapper>