<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<title id="pageTitle">MAIN</title>
<!-- 현제 페이지 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link href="/css/jquery-ui.css" rel="stylesheet">
	<link href="/css/myFilesStyle.css" rel="stylesheet">
</th:block>

<!-- 현제 페이지 고유 스크립 추가 -->
<th:block layout:fragment="script">
	<script src="/js/myFiles/myFiles.js"></script>
	<script src="/js/jquery-ui.js"></script>
</th:block>

<div layout:fragment="content">

    
		<div class="card">
		<div class="card-body">
			<div class="text-center">
				<h3>Files</h3>
				<p class="lead">All your uploaded files is here.</p>
				<hr class="my-4">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 grid-margin">
			<div class="card">
				<div class="card-body">
					<div class="row alighn-center">
						<div class="col-12">
							<div class="container">
									<div class="row">
										<div class="col">
											<select id="projectProgress" class="form-control">
												<option value="" class="form-control">Choose
													project progress</option>
												<option class="form-control"
													th:each="el : ${projectStatusNames}"
													th:text="${el.projectStatus}"></option>
											</select>
										</div>
										<div class="col">
											<input id="projectName" type="text" class="form-control"
												placeholder="projectName">
										</div>
										<div class="input-group flex-nowrap col">
											<div class="input-group-prepend">
												<span class="input-group-text" id="addon-wrapping"> <svg
														class="bi bi-search" width="1em" height="1em"
														viewBox="0 0 16 16" fill="currentColor"
														xmlns="http://www.w3.org/2000/svg">
  											<path fill-rule="evenodd"
															d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
  											<path fill-rule="evenodd"
															d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
										</svg>
												</span>
											</div>
											<input id="elasticSearch" type="text" class="form-control"
												placeholder="Keyword" aria-label="Username"
												aria-describedby="addon-wrapping">
										</div>
										<!-- <div class="col">
								<button type="submit" class="btn btn-primary">Search</button>
							</div> -->
									<div class="col">
										<button type="button" class="btn btn-primary" id="addButton">
											<svg class="bi bi-plus" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  												<path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
												<path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
											</svg> Add file
										</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div>
					    <table width="100%" class="table">
					       <thead>
							<tr class="card-header">
								<th>File</th>
								<th>Project</th>
								<th>Type</th>
								<th>Task</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							</thead>
							 <tbody>
							<tr th:each="el : ${myFiles}" class="items">
								<th scope="row" th:text="${el.outputPath}" hidden=""></th>
								<th scope="row" th:text="${el.outputName}" class="showFile"></th>
								<th scope="row" th:text="${el.projectName}"></th>
								<th scope="row" th:text="${el.outputType}"></th>
								<th scope="row" th:text="${el.taskName==null? 'None': el.taskName}"></th>
								<th scope="row" th:text="${el.outputCode}" hidden=""></th>
								<th><svg id="" class="edit-button bi bi-pencil-square" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  								  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  								  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
								</svg></th>
								<th><a id="dow"  th:href="@{'/file/'+${el.outputName}}"><svg id="" class="upload-button bi bi-download" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								  <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
								  <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
								  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
								</svg></a></th>
								<th><a th:href="@{'/deleteFile/'+${el.outputCode}}"><svg id="" class="delete-button bi bi-trash" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
								  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
								</svg></a></th>
							</tr>
							</tbody>
						</table>
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<div id="content"></div>
	
	<!-- dialog window -->
	
	<div id="file-dialog">
		<form action="/uploadFile" enctype="multipart/form-data" method="post">
			<div class="form-group">
				<label for="files">Choose file</label><input type="file" name="files" class="form-control" multiple>
			</div>
		<!-- </form>
		<form action="/insertFile" method="post"> -->
			<div class="form-group">
				<label for="outputTypeCode">Type</label> 
				<select name="outputTypeCode" class="form-control">
					<option th:each="el : ${types}" th:value="${el.outputTypeCode}" th:text="${el.outputType}">
				</select>
			</div>
			<div class="form-group">
				<label for="taskCode">Task</label>
				<select name="taskCode" class="form-control">
					<option th:each="el : ${tasks}" th:value="${el.taskCode}" th:text="${el.taskName}">
				</select>
			</div>
			<div class="form-group mt-5">
				<button type="submit" class="btn btn-success mr-2">Upload</button>
			</div>
		</form>
	</div>
	
	<!-- edit file info window -->
	<div id="fileEdit-dialog">
		<form action="/editFile" method="post">
			<table >
				<tr>
					<th>ID:</th>
					<td><div id="file-id"></div></td>
				</tr>
				<tr>
					<th>Name:</th>
					<td><div id="file-name"></div></td>
				</tr>
			</table>
			<br>
			<input id="outputCode" name="outputCode" type="hidden"  readonly="readonly">
			<div class="form-group">
				<label for="outputTypeCode">Type</label>
				<select name="outputTypeCode" class="form-control">
					<option th:each="el : ${types}" th:value="${el.outputTypeCode}" th:text="${el.outputType}">
				</select>
			</div>
			<div class="form-group">
				<label for="taskCode">Task</label>
				<select name="taskCode" class="form-control">
					<option th:each="el : ${tasks}" th:value="${el.taskCode}" th:text="${el.taskName}">
				</select>
			</div>
			<div class="form-group mt-5">
				<button type="submit" class="btn btn-success mr-2" id="edit-submit-button">Edit</button>
			</div>
		</form>
	</div>
	<!-- dialog window end -->

	<!-- <div sec:authorize="isAuthenticated()">This content is only shown
		to authenticated users.</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">This content is only
		shown to administrators.</div>
	<div sec:authorize="hasRole('ROLE_USER')">This content is only
		shown to users.</div> -->

</div>
</html>