<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bit.project.mapper.ProjectMapper">
	<select id="selectProjectListAll" resultType="com.project.bit.project.domain.ProjectVO">
		select * from projectList
	</select>
	
	<select id="selectProjectListByType" parameterType="String" resultType="com.project.bit.project.domain.ProjectVO">
		SELECT * FROM projectList 
		WHERE project_typeName = (SELECT project_type FROM project_types WHERE project_typeCode=#{typeCode})
	</select>
	
	<select id="selectProjectListByName" parameterType="String" resultType="com.project.bit.project.domain.ProjectVO">
		SELECT * FROM projectList 
		WHERE project_name LIKE '%'||#{projectName}||'%'
	</select>
	
	<select id="selectProjectListByTypeAndName" resultType="com.project.bit.project.domain.ProjectVO">
		SELECT * FROM projectList
		WHERE project_typeName = (SELECT project_type FROM project_types WHERE project_typeCode=#{typeCode})
		AND project_name LIKE '%'||#{projectName}||'%'
	</select>
	
	
	<select id="selectProjectTypeListAll" resultType="com.project.bit.project.domain.ProjectTypeDTO">
		SELECT * FROM project_types
	</select>

</mapper>